#content {
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 85%;
    margin-right: 2%;    
}

.content-hour {
    width: 100%;
    height: 100px;
}

.semicontent-hour-bot,
.semicontent-hour-top {
    height: 50%;
}