html {
    background-color: #2d2d2d;
    color: white;
}

#icon-selector {
    border-right: 1px solid #141414;
}

.day-title-div {
    border: 1px solid #141414;
}

#select-week-input {
    border: 2px solid #141414;
    background-color: #3e3e3e;
}

button {
    border: 1px solid #141414;
}

#load-psd-button {
    border: 1px solid #141414;
    background-color: #303030;
}

#load-psd-button:hover {
    background: rgb(56, 56, 56);
}

#context-menu {
    /* background: white; */
    background: rgb(45, 45, 45);
    border: 1px solid #141414;
    /* border: 1px solid #ccc; */
}

#context-menu li:hover {
    background: rgb(38, 38, 38);
    /* background: #eee; */
}

#grid {
    /* border-top: 1px solid #b5b5b5; */
    border-top: 1px solid #141414;
}

.semicontent-hour-top {
    /* border-bottom: 1px #b5b5b5 solid; */
    border-bottom: 1px #222222 solid;
}

.semicontent-hour-bot {
    /* border-bottom: 1px #b5b5b5 solid; */
    border-bottom: 1px #0d0d0d solid;
}

#time-now {
    background-color: rgb(255, 255, 255, 3%);

}
