#side-content {
    display: flex;
    flex-direction: column;
    height: 1500px;
    width: 10%;
    margin-right: 3%;
}

.hour {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100px;
}